<!DOCTYPE HTML>
<head>
  <title>DUBTRACK DEMO</title>
  <style type="text/css">

  body{
    background-color: black;
    color: white;
  }
  .logo{
    display: block;
    margin: 0 auto;
  }
  </style>
</head>

<body>
  <img class="logo" src="https://www.dubtrack.fm/assets/images/media/pic_notfound.jpg">
  <h2 style="text-align: center;">Demo by @jabesga</h2>
  <form action="/" method="POST">
    <div style="text-align:center">
      <p>Introduce the channel name:</p>
      <input name="room_name"></input>  
      <p><button>AMAZE ME!</button></p>
    </div>
  </form>
  
</body>